{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}
    Forget Password
{% endblock page_title %}

{% block content %}
    <div class="container">
        <h1>Password Reset:</h1>
        <p>Forgotten your password? Enter your email address below, click the button, and we’ll send you a link to reset it:</p
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-danger" type="submit">Save</button>
        </form>
        <p>You have already account? <a href="{% url 'login' %}">Log in</a></p>
    </div>
{% endblock content %}