
body {
    font-family: 'Kanit';
    text-align: center;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Kanit';
}

hr {
    text-align: center;
    margin-top: 10%;
    margin-left: 25%;
    width: 50%;
    height: 3px;
    background-color: #ff4c68;
    border: None;
}

/* Headings */
.big-heading {
    font-family: 'Kanit';
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Container */
.container {
    display: flex;

}

.container-fluid {
    padding: 0% 10%;
}

/* Navigation Bar */
.navbar {
    padding: 0 2rem 3rem;
}

.nav-item {
    margin-left: 10%;
    margin-top: 15%;
    padding-right: 10px;
}

.navbar-brand {
    font-family: 'Rubik Microbe';
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5%;
}

.nav-link {
    font-size: 1rem;
    font-weight: bold;
}

/* Title Section */
#title {
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}


.card {
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: left;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.card-header {
    text-align: center;
    color: white;
    background-color: gray;
    padding: 20px;
}

.card-body {
    margin-left: 2%;
    text-align: left;
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
}

.form-group {
    margin-bottom: 15px;
}

.card button {
    --button-hover-bg: gray;
    border: 1px solid gray;
    color: gray;
    width: 20%;
    cursor: pointer;
    padding-left: 3%;
    transition: 0.8s;
}

.card button:hover {
    background-color: #ff4c68;
    color: white;
    border: 1px solid #ff4c68;
}

